

@mixin media {
    @media (min-width: $break) {
        @content;
    }
}

@mixin flex {
    display: flex;
    justify-content: center;
}

@mixin bg-colors($map) {
@each $theme, $color in $map {
    @include m($theme) {
   background-color: $color;
   text-align: center;
   @extend %grid-system;
    }
}
}


@mixin m($modifier) {
    &#{$modifier} {
      @content;
    }
  }