

//colors

$white : #fff;
$grey: #727272;
$color-primary: #51ddfc;
$color-default: #58e1c1;
$color-success: #63cc82;
$color-error: #e4757a;
$color-warning: #fd7856;
$color-info: #927bc1;
$color-col12: #80e8d1;
$color-col6: #3fabca;
$color-col4: #7ee6fd;
$color-col3: #deb2ee;
$color-col5: #88d9a0;
$color-col7: #ec9fa3;
$color-col8: #fd9f85;

//fonts

$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;

//border-radius

$border-rad: 4px;


//Media Queries

$break: 768px;
