
.form__label--hidden {
    display: none;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form .headline--secondary {
    align-self: flex-start;
  }
  
  .form__input {
    border: 0;
    border-bottom: 5px solid $color-default;
    width: 95%;
    padding: 8px;
    margin-bottom: 24px;
    font-size: 0.9em;
    font-weight: 700;
    transition: border 0.4s;
  }
  
  .form__input:focus {
    border: 2px solid $color-default;
    border-radius: $border-rad;
    outline: 0;
  }

  @include media {
    .form {
      margin-left: 25px;
    }
  }