

    .container {
  
        width: 85%;
        margin: 30px auto; 
        color: $grey;
        font-family: $font-primary;
        font-weight: 400;
      }
      
      .grid__row {
        
        margin-bottom: 40px;
      }
      
      .grid__row p {
        padding: 0 5px;
        line-height: 1.5em;
        margin-top: 20px;
        font-size: 1.05em;
      }
      
      
      .grid__col--12.theme__colors {
        @extend %grid-system;
        background-color: $color-default;
      }
      
      .grid__col--6.theme__colors {
        @extend %grid-system;
        background-color: $color-col6;
      }
      
      .grid__col--4.theme__colors {
        @extend %grid-system;
        background-color: $color-col4;
      }
      
      .grid__col--3.theme__colors {
        @extend %grid-system;
        background-color: $color-col3;
      }
      
      .grid__col--5.theme__colors {
        @extend %grid-system;
        background-color: $color-col5;
      }
      
      .grid__col--7.theme__colors {
        @extend %grid-system;
        background-color: $color-col7;
      }
      
      .grid__col--8.theme__colors {
        @extend %grid-system;
        background-color: $color-col8;
      }

@include media {
  .container {
    max-width: 1400px;
  }

  .grid__row {
    display: flex;
    justify-content: space-around;
  }

  .grid__col--8 {
    flex-basis: 66%;
  }

  .grid__col--6 {
    @include flex;
    align-items: center;
  }

  .grid__col--4 {
    flex-basis: 33%;
  }

  .grid__col--12 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
  }

  .grid__col--5 {
    flex-basis: 40%;
  }

  .grid__col--7 {
    flex-basis: 60%;
  }

  .grid__col--12 .btn--default{
    margin: 0 10px;
  }

  .grid__col--12 .btn--success{
    margin: 0 10px;
  }

  .grid__col--12 .btn--error{
    margin: 0 10px;
  }

  .grid__col--12 .btn--warning{
    margin: 0 10px;
  }

  .grid__col--12 .btn--info{
    margin: 0 10px;
  }
  

  .theme__colors {
    margin: 0 5px;
  }
}
