

    .container {
  
        width: 85%;
        margin: 30px auto; 
        color: $grey;
        font-family: $font-primary;
        font-weight: 400;
      }
      
      .grid__row {
        margin-bottom: 40px;
      }
      
      .grid__row p {
        padding: 0 5px;
        line-height: 1.5em;
        margin-top: 20px;
        font-size: 1.05em;
      }

      .theme__colors.grid__col-- {
        @include bg-colors($bg-colors);
        @extend %grid-system;
      }
      
      
//  ===  Media Queries  ===

@include media {
  .container {
    max-width: 1400px;
  }

  .grid__row {
    display: flex;
    justify-content: space-around;
  }

  .grid__col--12 {
    display: flex;
    width: 100%;
    padding: 0 10px;
  }

  .grid__col--12 {
    .btn--default, .btn--success, .btn--error, .btn--warning, .btn--info {
      margin: 0 10px;
    }
  }
  
  .theme__colors {
    margin: 0 5px;
  }

  .theme__colors {
    justify-content: center;
  }

  .grid__col--8 {
    flex-basis: 66%;
  }

  .grid__col--6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid__col--4 {
    flex-basis: 33%;
  }

  .grid__col--5 {
    flex-basis: 40%;
  }

  .grid__col--7 {
    flex-basis: 60%;
  }
}
