
.nav__item {
    @extend %nav;
  }
  
  .nav__item a {
    text-decoration: none;
    color: inherit;
  }
  
  .nav__item:hover {
    background-color: $color-default;
    border-radius: $border-rad;
    color: $white;
  }

  @include media {
    .nav {
      @include flex;
      flex-direction: row;
      
    }
  
    .nav__item {
      margin: 0 10px;
      padding:  10px;
    }
  }